@tailwind base;
@tailwind components;
@tailwind utilities;
.container{
    margin: 0 auto;
    width: 1200px;
    height: auto;
}
nav{
    height: 90px;
    background-color: white;
    display: grid;
    grid-template-columns: 100px 1fr 200px;
}
nav .logo{
    height: 90px;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    float: left;
    line-height: 90px;
    padding: 0px 20px;
}
nav .menu ul li a{
    text-decoration: none;
    color: black;
    font-family: avo;
    font-size: 18px;
}
nav .menu ul li a:hover{
    color: red;
    font-size: 20px;
}
nav .search button{
    width: 140px;
    height: 50px;
    background-color: white;
    color: black;
    border: 1px solid black;
    margin-top: 20px;
    font-family: avo;
}
nav .search button:hover{
    background-color: red;
    color: white;
    width: 140px;
    height: 50px;
}
/* end css nav */
.banner{
    text-align: center;
}
.banner img{
    width: 1440px;
    height: auto;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box{
    padding: 10px 10px;
}
.image img:hover{
    width: 460px;
    height: auto;
}
.text{
    padding: 0px 15px;
}
.text h1{
    text-align: center;
    font-family: avo;
    color: black;
    font-weight: bold;
}
.text h2{
    font-family: avo;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}
.text ul{
    padding-top: 15px;
}
.text ul li{
    padding: 8px 0px;
}
.sub-banner img{
    width: 1440px;
    height: auto;
}
.box .image img:hover{
    transform: rotate(30deg);
    transition: 1s ease-in-out;
}
/* end css main */
footer{
    width: 100%;
    height: 100px;
    background-color: #021a34;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
footer p{
    color: white;
    font-family: avo;
    font-size: 18px;
    line-height: 100px;
    padding: 0px 25px;
    
}

.footer-right{
    line-height: 100px;
    margin-left: 280px;
}
.input1{
    background-color: #021a34;
    color: white;
    width: 279px;
    height: 51px;
    border: 1px solid yellow;
    border-radius: 5px;
    padding-left: 15px;
}
.input1:focus{
    outline: 0;
}
::placeholder{
    color: white;
}
.input2{
    width: 120px;
    height: 52px;
    color: white;
    background-color: #ffa800;
    border-radius: 5px;
}
.input2:hover{
    color: white;
    background-color: red;
}

/*  */